*.swp

# vim netrwhist exists and I don't know what it does
vim/.vim/.netrwhist

# zsh's recent dirs shouldn't be versioned
zsh/.config/zsh/.chpwd-recent-dirs

# Ignore the installation of services for now.
systemd/.config/systemd/user/*.target.wants
