[Unit]
Description=SOCKS proxy to the liacs network

[Service]
Type=simple
ExecStart=/usr/bin/ssh -N -D 12345 gold.liacs.nl
Restart=on-failure

[Install]
WantedBy=default.target
