[Unit]
Description=SOCKS proxy to the liacs network

[Service]
Type=simple
ExecStart=/usr/bin/ssh -v -N -D 12345 gold.liacs.nl
Restart=no

[Install]
WantedBy=default.target
